@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    
    /* Primary */
    
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */

    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(215, 32%, 27%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

}

body {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
}

.container {
    background-color: var(--card-bg);
    margin: auto;
    border-radius: 20px;
    text-align: left;
}

.image {
    border-radius: 10px;
    margin: auto;
}

.name {
    color: var(--white);
    font-weight: 600;
}

.line {
    color: var(--line);
    font-weight: 400;
}

#eth {
    color: var(--cyan);
    font-weight: 600;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
        color: hsl(228, 45%, 44%);
}
