@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    
    /* Primary */
    
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */

    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: visible;
    padding: 25px;
}

.container {
    position: absolute;
    inset: 0;
    background-color: var(--card-bg);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: fit-content;
}

.container::before {
    content: "";
    width: 390px;
    height: 650px;
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    background: hsl(216, 46%, 8%);
    border-radius: 40px;
    z-index: -1;
}

.image {
    border-radius: 10px;
    width: 100%;
    display: block;
}



.line {
    color: var(--soft-blue);
    font-weight: 400;
    margin: 20px 0;
}

#eth {
    color: var(--cyan);
    margin-left: 5px;
}

.price-time {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-flex;
    justify-content: space-between;
}

.name {
    color: var(--white);
    font-weight: 600;
}

.eth {
    color: var(--cyan);
    font-weight: 600;
    margin: 0;
}

.eth img{
    padding-right: 5px;
    width: 18px;
}

.time {
    margin: 0;
}

.time img {
    padding-right: 5px;
}

.image-container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--cyan);
    position: relative;
}

.image-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--cyan);
    opacity: 0;
    display: grid;
    place-items: center;
    justify-items: center;
    border-radius: 10px;
    transition: opacity .5s ease-in-out;
}

.image-overlay:hover {
    opacity: 0.6;
}

.name:hover {
    color: var(--cyan);
}

.credit-text span:hover {
    color: var(--cyan);
}

.preview::after {
    content: "";
    display: block;
    font-size: 1px;
    width: 100%;
    height: 1px;
    border: solid 1px var(--line);

}

.attribution {
    font-size: 11px;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 3px;
    justify-content: center;
    text-align: center;
}

.attribution a {
        color: hsl(228, 45%, 44%);
}

.credit {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400px;
    height: 40px;
    display: flex;
}

.img-avatar {
    width: 40px;
    height: 40px;
    border: solid 1px var(--white);
    border-radius: 50%;
    display: inline;
}

.credit-text {
    margin: auto 20px;
}

span {
    color: var(--white);
}
